.landing_page {
    font-family: 'Lato', sans-serif;
}
.landing_page .main_lainding {
    width: 100%;
    height: 100%;
    background-image: url("../../image/backgond_main.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -99;
    position: absolute;
    background-attachment: fixed;
}
.landing_page .main_lainding img {
    height: 100%;
    position: absolute;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
}
.landing_page .offers .text {
    height: 96vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    color: white;
    position: relative;
}
.landing_page .offers .text::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(316deg, #00000073, #00000026);
    z-index: -1;
}
.landing_page .offers .text h1 {
    max-width: 535px;
    font-size: 60px;
    line-height: 1.2em;
}
.landing_page .offers .button {
    width: 100%;
}
.landing_page .offers .button button {
    background: white;
    border: white;
    padding: 15px 23px;
    font-size: 0.875rem;
    font-weight: 700;
    border: 1px solid white;
    letter-spacing: 1px;
    transition: 0.4s;
}
.landing_page .offers .button button:first-child {
    padding: 15px 29px;
}
.landing_page .offers .button button:first-child:hover {
    background-color: black;
    border: 1px solid black;
    color: white;
}
.landing_page .offers .button button:last-child {
    background: none;
    border: 1px solid white;
    color: white;
    margin-left: 22px;
}
.landing_page .offers .button button:last-child:hover {
    background-color: white;
    color: black;
}
@media (max-width:991px) {
    .landing_page .main_lainding {
        top: 0;
    }
    .landing_page .offers .text {
        height: 64vh;
    }
}
@media (max-width:767px) {
    .landing_page .offers .text h1 {
        max-width: 371px;
        font-size: 40px;
        text-align: center;
    }
    .landing_page .offers .text {
        align-items: center;
    }
    .landing_page .offers .button {
        flex-direction: column;
    }
    .landing_page .offers .button {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        padding: 0 30px;
    }
    .landing_page .offers .button button:last-child {
        margin: 0;
    }
}
/* logos */
.landing_page .logos {
    background: white;
    padding: 4rem 4rem;
    display: flex;
    align-items: center;
}
.landing_page .logos svg {
    cursor: pointer;
}
.landing_page .logos .image {
    overflow: hidden;
    width: 100%;
}
.landing_page .logos .images {
    margin: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% 20% 20% 20% 20% 20% 20% 20%;
    transform: translate3d(0, 0px, 0px);
    transition: 1s;
}
.landing_page .logos .image .img {
    margin: auto;
}
@media (max-width:991px) {
    .landing_page .logos .images {
        grid-template-columns: 50% 50% 50% 50% 50% 50% 50% 50% 50% 50% 50% 50%;
    }
}
@media (max-width:767px) {
    .landing_page .logos .images {
        grid-template-columns: 100% 100% 100% 100% 100% 100% 100% 100% 100% 100% 100% 100%;
    }
}
/* main offers */
.landing_page .main_offers {
    background: white;
    padding-bottom: 7.7rem;
}
.landing_page .main_offers .boxs {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    padding: 0px 2.7rem;
    gap: 1.4rem;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}
.landing_page .main_offers .boxs .box {
    width: 100%;
    min-height: 480px;
    background-position: right;
    background-size: cover;
}
.landing_page .main_offers .boxs .box:nth-child(1) {
    background-image: url("../../image/offers_1.jpg");
}
.landing_page .main_offers .boxs .box:nth-child(2) {
    background-image: url("../../image/offers_2.jpg");
    background-position: left;
}
.landing_page .main_offers .boxs .box:nth-child(3) {
    background-image: url("../../image/offers_3.jpg");
}
.landing_page .main_offers .boxs .box .text {
    backdrop-filter: brightness(0.5);
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 2.5rem;
    font-weight: 600;
}
.landing_page .main_offers .boxs .box .text p {
    line-height: 1.5;
}
.landing_page .main_offers .boxs .box .text p {
    margin: 1.5rem 0;
    line-height: 1.7;
}
.main_offers .boxs .box .text button,
.main-btn {
    background: white;
    padding: 15px 29px;
    border: none;
    font-weight: 700;
    font-size: 14px;
}
@media (max-width:991px) {
    .landing_page .main_offers .boxs .box .text {
        padding: 2.5rem .5rem;
    }
}
@media (max-width:767px) {
    .landing_page .main_offers .boxs {
        grid-template-columns: 100%;
        padding: 0 1rem;
    }
    .landing_page .main_offers .boxs .box {
        min-height: 285px;
        background-position: inherit;
    }
    .landing_page .main_offers .boxs .box .text {
        padding: 1.5rem 1.1rem;
    }
    .main_offers .boxs .box .text button {
        width: 100%;
    }
}
@media (max-width: 424px) {
    .landing_page .main_offers .boxs .box .text {
        padding: 1.5rem 1.1rem;
        font-size: 13px;
    }
}
/* Featured */
.landing_page .featured {
    background-color: var(--section-color);
    padding: 5rem 0;
}
.landing_page .featured>.head h1 {
    font-size: 40px;
    position: relative;
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 1.5rem;
}
.landing_page .featured>.head h1::before {
    content: "";
    position: absolute;
    background: #0084d6;
    width: 25%;
    height: 2.5px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.landing_page .featured .boxs {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin: 2.2rem;
    row-gap: 1rem;
}
.landing_page .featured .boxs .box {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
.landing_page .featured .boxs .box .image {
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
.landing_page .featured .box .image span {
    position: absolute;
    margin: 0.5rem;
    background: white;
    padding: 4px 10px;
    border-radius: 30px;
    font-size: 14px;
    box-shadow: 0px 3px 2px 0px #302d2d61;
    color: #464141;
    display: none;
}
.landing_page .featured .box.sale .image span {
    display: block;
}
.landing_page .featured .box .image svg {
    position: absolute;
    top: -40px;
    right: 17px;
    background: white;
    padding: 8px;
    font-size: 15px;
    border-radius: 50%;
    color: #787171;
    transition: 0.4s;
    opacity: 0;
}
.landing_page .featured .box .image:hover svg {
    top: 7px;
    opacity: 1;
}
.landing_page .featured .box .image svg:hover {
    color: black;
}
.landing_page .featured .boxs .box img {
    width: 100%;
}
.landing_page .featured .boxs .box img.hidn {
    display: none;
}
.landing_page .featured .box .type h3 {
    font-size: 16px;
    font-weight: 500;
}
.landing_page .featured .box .gen span {
    font-size: 15px;
    color: #857f7ff5;
}
.landing_page .featured .box .price {
    display: flex;
    gap: 1rem;
    font-size: 15px;
}
.landing_page .featured .box .price span.before {
    text-decoration-line: line-through;
    color: #a19393;
}
.landing_page .featured .box .fillter,
.product-page .fillter {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
.landing_page .featured .box .fillter>div,
.product-page .fillter>div {
    border-radius: 50%;
    padding: 2px;
    margin: 1px;
    border: 1px solid rgba(105, 97, 97, 0);
    width: fit-content;
    transition: 0.3s;
}
.landing_page .featured .box .fillter>div.active,
.product-page .fillter>div.active {
    border: 1px solid black;
}
.landing_page .featured .box .fillter>div:hover,
.product-page .fillter>div:hove {
    border: 1px solid black;
}
.landing_page .featured .box .fillter span,
.product-page .fillter span {
    background: rgb(209, 72, 72);
    width: 18px;
    height: 18px;
    display: block;
    border-radius: 50%;
    cursor: pointer;
}
.landing_page .featured .box svg {
    color: #87877e80;
    font-size: 13px;
}
.landing_page .featured .box .rate {
    display: flex;
}
.landing_page .featured .box .rate>div.avtive svg {
    color: #dbdb2ffa;
}
@media (max-width:991px) {
    .landing_page .featured .boxs {
        grid-template-columns: 25% 25% 25% 25%;
    }
}
@media (max-width:767px) {
    .landing_page .featured .boxs {
        grid-template-columns: 33.33% 33.33% 33.33%;
    }
}
@media (max-width: 545px) {
    .landing_page .featured .boxs {
        grid-template-columns: 50% 50%;
    }
    .landing_page .featured>.head h1 {
        font-size: 30px;
    }
}
@media (max-width: 424px) {
    .landing_page .featured .boxs {
        grid-template-columns: 50% 50%;
        margin: 2.2rem 0.5rem;
    }
}
/* limited */
.landing_page .limited {
    background-color: var(--section-color);
}
.landing_page .limited .container {
    background-image: url("../../image//limited.jpg");
    height: 526px;
    margin: 0 10px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.landing_page .limited .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    color: white;
    background-image: linear-gradient(100deg, #0084d67a 0%, #00000000 100%);
    padding: 6rem;
    gap: 1.5rem;
}
.landing_page .limited .text h3 {
    font-size: 20px;
}
.landing_page .limited .text h2 {
    font-size: 40px;
}
.landing_page .limited .text p {
    max-width: 437px;
    line-height: 2;
}
.landing_page .limited .text span {
    font-size: 20px;
    font-weight: 700;
    max-width: 437px;
}
@media (max-width:991px) {
    .landing_page .limited .container {
        height: 400px;
    }
}
@media (max-width:767px) {
    .landing_page .limited .container {
        background-attachment: initial;
    }
    .landing_page .limited .text {
        padding: 2rem;
    }
}
@media (max-width: 545px) {
    .landing_page .limited .text {
        align-items: center;
        text-align: center;
        padding: 0rem;
    }
    .landing_page .limited .text h3 {
        font-size: 17px;
    }
    .landing_page .limited .text h2 {
        font-size: 34px;
    }
    .landing_page .limited .text p {
        max-width: 90%;
        line-height: 1.7;
    }
    .landing_page .limited .text span {
        font-size: 17px;
        max-width: 90%;
    }
}
/* LandingCard */
.landing_page .landing-card {
    background-color: var(--section-color);
}
.landing_page .landing-card .container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: auto;
    padding: 9rem 5rem;
    gap: 2rem;
    justify-content: center;
}
.landing_page .landing-card .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.8;
    text-align: center;
}
.landing_page .landing-card .card img {
    max-width: 50px;
}
.landing_page .landing-card .card h2 {
    font-size: 19px;
}
.landing_page .landing-card .card p {
    max-width: 238px;
}
@media (max-width:991px) {
    .landing_page .landing-card .container {
        grid-template-columns: 50% 50%;
    }
}
@media (max-width:767px) {
    .landing_page .landing-card .container {
        grid-template-columns: 100%;
    }
}
@media (max-width:424px) {
    .landing_page .landing-card .container {
        padding: 7rem 2rem;
    }
}