.about-bage .image-top {
    height: 63vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: white;
    position: relative;
    align-items: center;
    justify-content: center;
}
.about-bage .image-top .img {
    width: 100%;
    height: 100%;
    background: red;
    background-image: url("../../image/about_1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -99;
    position: absolute;
    background-attachment: fixed;
}
.about-bage .image-top::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(356deg, #00000085, #125add54);
    z-index: -1;
}
@media (max-width:676px) {
    .about-bage .image-top {
        height: 36vh;
    }
}
.about-bage .we-are {
    background-color: var(--section-color);
    padding: 2.7rem 2.7rem;
    margin: auto;
}
.about-bage .we-are .container {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: white;
    max-width: 1200px;
}
.about-bage .we-are .left {
    padding: 3rem;
}
.about-bage .we-are .left h1 {
    margin: 1.5rem 0;
    position: relative;
    font-size: 35px;
}
.about-bage .we-are .left h1::before,
.about-bage .team .container>h4::before,
.about-bage .follow .container h1::before {
    content: "";
    position: absolute;
    height: 5px;
    width: 70px;
    background: var(--blue-color);
    top: -20px;
}
.about-bage .we-are .left p {
    line-height: 1.7;
    color: #3e3a3a;
}
.about-bage .we-are .right {
    position: relative;
    display: flex;
    align-items: center;
    background-image: url("../../image/about_2.jpg");
    background-size: cover;
    background-position: center;
}
.about-bage .we-are .right::before {
    content: "";
    background: #00000059;
    width: 100%;
    height: 100%;
    position: absolute;
}
.about-bage .we-are img {
    width: 100%;
    z-index: 2;
    max-height: 441px;
}
@media (max-width:991px) {
    .about-bage .we-are .container {
        grid-template-columns: 100%;
    }
}
@media (max-width:676px) {
    .about-bage .we-are {
        padding: 2.7rem 1rem;
    }
    .about-bage .we-are .container {
        text-align: center;
    }
    .about-bage .we-are .left h1::before {
        left: 50%;
        transform: translateX(-50%);
    }
    .about-bage .we-are .left {
        padding: 2rem 1rem;
    }
}
.about-bage .team {
    background-color: white;
    padding: 6rem 2rem;
}
.about-bage .team .container {
    text-align: center;
    max-width: 750px;
    margin: auto;
}
.about-bage .team .container>h4 {
    font-size: 20px;
    font-weight: 400;
    position: relative;
    margin: 1rem 0;
}
.about-bage .team .container>h4::before {
    left: 50%;
    transform: translateX(-50%);
    width: 10%;
}
.about-bage .team .container>h1 {
    font-size: 40px;
    margin-bottom: 1.7rem;
}
.about-bage .team .container>p {
    line-height: 1.8;
}
.about-bage .team .boxs {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}
.about-bage .team .box {
    background-color: var(--section-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 226px;
}
.about-bage .team .box img {
    max-width: 90px;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 20px 1px #2220206b;
    border-radius: 50%;
}
.about-bage .team .box h2 {
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: 500;
}
@media (max-width:767px) {
    .about-bage .team .boxs {
        grid-template-columns: 50% 50%;
    }
    .about-bage .team .container>h4::before {
        width: 18%;
    }
}
@media (max-width:545px) {
    .about-bage .team .boxs {
        grid-template-columns: 100%;
    }
}
@media (max-width:424px) {
    .about-bage .team .container>h4::before {
        width: 22%;
    }
}
.about-bage .follow {
    background-image: url("../../image/about_3.jpg");
    max-height: 500px;
    height: 442px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.about-bage .follow img {
    width: 20px;
}
.about-bage .follow .container {
    background-color: var(--section-color);
    flex-direction: column;
    width: 36%;
    transform: translateX(-50%);
    position: relative;
    left: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.about-bage .follow .container h1 {
    position: relative;
    font-size: 40px;
}
.about-bage .follow .container h1::before {
    width: 40%;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}
.about-bage .follow .container>div {
    display: flex;
    gap: 2rem;
}
@media (max-width:991px) {
    .about-bage .follow {
        max-height: 370px;
    }
}
@media (max-width:767px) {
    .about-bage .follow .container {
        width: 40%;
    }
}
@media (max-width:676px) {
    .about-bage .follow .container>div {
        display: flex;
        gap: 0.5rem;
    }
    .about-bage .follow .container h1 {
        position: relative;
        font-size: 25px;
    }
}
@media (max-width:565px) {
    .about-bage .follow .container {
        width: 48%;
    }
}
@media (max-width:424px) {
    .about-bage .follow {
        max-height: 304px;
    }
}
/* LandingCard */
.about-bage .landing-card {
    background-color: white;
}
.about-bage .landing-card .container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: auto;
    padding: 9rem 5rem;
    gap: 2rem;
    justify-content: center;
}
.about-bage .landing-card .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.8;
    text-align: center;
}
.about-bage .landing-card .card img {
    max-width: 50px;
}
.about-bage .landing-card .card h2 {
    font-size: 19px;
}
.about-bage .landing-card .card p {
    max-width: 238px;
}
@media (max-width:991px) {
    .about-bage .landing-card .container {
        grid-template-columns: 50% 50%;
    }
}
@media (max-width:767px) {
    .about-bage .landing-card .container {
        grid-template-columns: 100%;
    }
}
@media (max-width:424px) {
    .about-bage .landing-card .container {
        padding: 7rem 2rem;
    }
}